.productCard {
	display: block;
	padding-bottom: 10px;

	&__img {
		overflow: hidden;
		width: 300px;
		height: 300px;
		border-radius: 16px;
	}

	&__nameProduct {
        margin-top: 8px;

		font-size: 0.875rem;
		font-weight: 500;
		line-height: 114%;
		text-align: center;
	}

	&__priceProduct {
        margin-top: 4px;

		font-weight: 700;
		line-height: 150%;
        color: var(--color-primary-brand);
        text-align: center;
		letter-spacing: 0.04em;
	}
}
