.header {
	position: fixed;
	z-index: 10;
	top: 0;

	width: 100%;
	max-width: var(--width-page);
	height: 56px;

	color: var(--color-light);

	background: rgb(97 112 125 / 5%);

	.flexWrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		width: 100%;
		max-width: var(--width-page);
		height: 100%;
		margin: 0 auto;

		.logo {
			display: flex;
			gap: 10px;
			align-items: center;

			&__icon {
				width: 40px;
				height: 40px;
			}

			&__text {
				font-size: 2rem;
				font-weight: 700;

				span {
					color: var(--color-primary-brand);
				}
			}
		}

		.nav {
			ul {
				display: flex;
				gap: 10px;
				align-items: center;

				li {
					.pageLink {
						padding: 10px 15px;
						font-weight: 500;
						line-height: 150%;
						border-radius: 28px;

						&:hover {
							background-color: var(--color-primary-brand);
							transition: var(--transition-hover);
						}
					}
				}
			}
		}
	}
}
