.popupHoverContactsRelavance {
	position: relative;

	.tel {
		padding: 10px;

		font-weight: 700;
		line-height: 120%;
		color: var(--color-primary-brand);
		letter-spacing: 0.1em;
		white-space: nowrap;
	}
}

.popupHoverContacts {
	position: absolute;
	z-index: 9;
	left: -50%;
	box-sizing: border-box;

	.contacts {
		width: 302px;
		margin-top: 35px;
		padding: 16px 16px 48px;

		background-color: var(--color-light);
		border-radius: 24px;

		.contactsRow {
			display: flex;
			gap: 16px;
			align-items: center;

			&:not(:first-of-type) {
				margin-top: 16px;
			}

			&__icon {
				display: flex;
				align-items: center;
				justify-content: center;

				width: 48px;
				height: 48px;
			}

			&__name {
				font-family: Nekst;
				font-size: 0.875rem;
				font-weight: 500;
				line-height: 114%;
				color: var(--color-gray);
				text-align: start;
			}

			&__text {
				padding-top: 5px;

				font-family: Nekst;
				font-weight: 500;
				line-height: 150%;
				color: var(--color-text);
			}
		}

		&__button {
			display: grid;
			justify-content: stretch;
			margin-top: 30px;
		}

		.socialLinks {
			display: flex;
			align-self: center;
			justify-content: space-between;

			max-width: 80%;
			margin: 48px auto 0;

			.links {
				width: 48px;
				height: 48px;
			}
		}
	}
}
