body {
	min-width: 375px;

	font-family: Nekst;
	font-style: normal;
	line-height: normal;
	color: var(--color-text);

	background-color: var(--color-light);
}

body.lock {
	overflow: hidden;
}

.page-container {
	max-width: var(--width-page);
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}

.content-container {
	max-width: 1320px;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
	position: relative;
}

a {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 375px) {
	.content-container {
		padding: 0 8px;
	}
}
