.button {
	border: none;
	font: inherit;
	padding: 18px 40px;
	background-color: var(--color-primary-brand);
	color: var(--color-light);
	font-family: Nekst;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 120%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	box-shadow: 0 0 1px 0 rgba(97, 112, 125, 0.04),
		0 2px 6px 0 rgba(97, 112, 125, 0.04), 0 10px 20px 0 rgba(97, 112, 125, 0.04);
	border-radius: 36px;
    cursor: pointer;
    transition: var(--transition-hover);
}

.button:hover {
	background-color: var(--color-secondary-brand);
}
